.table_azan {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 500px;
}

.h2_class {
    background-color: #14b05f;
    margin-top: 5px;
}

.table_title {
    background-color: #14b05d;
    font-size: 14px;
}

.table_navigasi {
    background-color: #1AE865;
}

.table_dark {
    background-color: #a9f5a9;
}

.table_light {
    background-color: #e4ffe4;
}

.table_highlight {
    background-color: #B4DA3E;
}

.table_azan {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 500px;
}


.table_header {
    align-content: center;
}

.table_azan {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 500px;
}


.font_sais {
    font-size: 20%;
}